.table thead th {
  border-top: 0;
  font-size: .75rem;
  color: $gray-700;

  @extend .text-uppercase;
}
.table {
  font-size: .875rem;

  .custom-control.custom-checkbox {
    display: block;
  }

  tr.selected th,
  tr.selected td {
    background-color: $table-selected-bg;
  }
}

.table-actions tr td:last-child,
.table-actions tr th:last-child {
  text-align: right;
  white-space: nowrap;
  width: 1px;
}