<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AdminX - Page not found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../dist/css/adminx.css" media="screen" />

    <!--
      # Optional Resources
      Feel free to delete these if you don't need them in your project
    -->
  </head>
  <body>
    <div class="adminx-container d-flex justify-content-center align-items-center">
      <div class="page-error">
        <div class="error-code">
          404
        </div>
        <h1>Page not found</h1>

        <p class="text-muted mb-5">
          Oops... the page you requested could not be found.
        </p>

        <a href="../index.html" class="btn btn-primary">Return to the dashboard</a>
        <a href="#" class="btn btn-light">Report error</a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!--
      # Optional Resources
      Feel free to delete these if you don't need them in your project
    -->

    <!--
      # Optional Resources END
    -->
    <script type="text/javascript" src="../dist/js/adminx.js"></script>
  </body>
</html>